/* style/registrationSuccess.css */
.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.success-container h2 {
  font-size: 36px;
  color: green;
}

.success-container p {
  font-size: 18px;
  margin: 20px 0;
}

.success-container a {
  text-decoration: none;
  color: #ff9900;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ff9900;
  border-radius: 5px;
  background-color: white;
}

.success-container a:hover {
  background-color: #ff9900;
  color: white;
}
