.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0 15px;
  margin-top: 15px;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content a {
  font-weight: 700;
  font-size: 1.2rem;
  color: #007185;
  text-decoration: none;
}
